BasedOnStyle: LLVM
Language: Cpp
IndentWidth: 2
TabWidth: 2
UseTab: Never
ColumnLimit: 100
SortIncludes: false
AlignConsecutiveAssignments: Consecutive
AlignConsecutiveDeclarations: AcrossEmptyLines
AllowShortIfStatementsOnASingleLine: false
BreakBeforeBraces: Attach
SpaceBeforeParens: ControlStatements
PointerAlignment: Left
IncludeBlocks: Regroup
NamespaceIndentation: None
Cpp11BracedListStyle: false
