aclocal.m4
autoscan.log
compile
config.guess
config.h.in
config.log
config.status
config.sub
configure
configure.scan
depcomp
install-sh
Makefile
Makefile.in
stamp-h1
ltmain.sh
libtool

m4/*.m4
!/m4/ax_prog_doxygen.m4
autom4te.cache/
missing
ylwrap
ar-lib

lex.yy.c

/doc/

.deps/
.libs/

src/lazyscript
src/lazyscript_format
src/lazyscriptc
src/lscoreir
src/lsllvmir_dump
src/parser/lexer.c
src/parser/lexer.h
src/parser/parser.c
src/parser/parser.h
src/parser/parser.output

*~
*.o
*.lo
*.a
*.la
null.d
*.log
*.trs

/confdefs.h
/conftest.h
/conftest.c
/conftest.err
conftest.l

/.vscode/
# Ignore most of GitHub metadata, but allow workflows to be tracked
/.github/*
!/.github/workflows/
!/.github/workflows/**

/.ci_artifacts/


# Logs and test harness artifacts
logs/
/test-suite.log

# Autotools stamps (should not be tracked)
**/.dirstamp


# Forbid legacy host prelude (plugin-only policy)
src/builtins/prelude.c
src/builtins/prelude.h


# local LSTI smoke outputs
_tmp_test.lsti
src/lslsti_check
.github/user-instruction/
